{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls static %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a id="device-manager-link" href="javascript:void(0)">{{ 'Device Manager'|capfirst }}</a>
        &rsaquo; {{ title }}
    </div>
{% endblock %}

{% block content %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        const deviceManagerLink = document.getElementById('device-manager-link');
            if (deviceManagerLink) {
                // Add a click event listener to navigate back
                deviceManagerLink.addEventListener('click', function (event) {
                    event.preventDefault();
                    window.history.back();
                });
            }
        });
        
        const socket = new WebSocket(`ws://${window.location.host}/ws/device/?id=0&key=0`);
    </script>
{% endblock %}